@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.sectionHeading h5 {
  border: 2px solid #ddaa44;
  display: inline-block;
  border-radius: 20px;
  padding: 8px 30px;
  color: #ddaa44;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
}
.sectionHeading h1 {
  font-size: 36px;
  font-weight: 700;
  color: #1d1d1d;
  margin-bottom: 15px;
}

#testimonial {
  padding: 100px 0 0 0;
}
#testimonial .testimonialContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.reviewsContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.reviewsContainer .review-item {
  padding: 8px;
  flex: 0 0 33.333333%;
  width: 33.333333%;
}
@media screen and (max-width: 768px) {
  .reviewsContainer .review-item {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media screen and (max-width: 540px) {
  .reviewsContainer .review-item {
    width: 100%;
    flex: 0 0 100%;
  }
}
.reviewsContainer .review-item .review-inner {
  background: #f8f9f9;
  padding: 25px;
  border-radius: 12px;
}
.reviewsContainer .review-item .review-inner .profile-details .name {
  font-size: 15px;
  font-weight: bold;
  white-space: no-wrap;
  color: #000;
  margin-bottom: 2px;
}
.reviewsContainer .review-item .review-inner .profile-details .date {
  color: #000;
  font-size: 12px;
}
.reviewsContainer .review-item .review-inner .review-content {
  height: 116px;
  margin-top: 15px;
  font-size: 16px;
  text-align: left;
  color: #000;
}

.writeReview {
  max-width: 1140px;
  text-align: center;
  margin: 0 auto;
}
.writeReview a {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #ddaa44;
  color: #fff;
  padding: 4px 18px;
  border-radius: 4px;
  font-size: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0 0 5px grey;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  background: #fff;
}
@media screen and (max-width: 900px) {
  header {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 425px) {
  header {
    padding: 10px;
  }
}
header .logo {
  display: flex;
  align-items: center;
}
header .logo a {
  text-decoration: none;
  font-size: 22px;
  color: #DDAA44;
  color: #000;
  font-family: "Federo", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  header .logo a {
    font-size: 18px;
  }
}
header nav {
  display: flex;
  align-items: center;
  position: relative;
}
header nav ul {
  list-style: none;
  display: flex;
}
@media screen and (max-width: 768px) {
  header nav ul {
    display: none;
  }
}
header nav ul li {
  margin: 0 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.25px;
  transition: 0.25s ease-in-out;
}
header nav ul li a:hover {
  color: #DDAA44;
}
header nav .menu {
  height: 15px;
  width: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}
@media screen and (max-width: 768px) {
  header nav .menu {
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  header nav .menu {
    margin: 0;
  }
}
header nav .menu .line {
  height: 2px;
  width: 100%;
  border-radius: 8px;
  background: #000;
}

.resNav {
  position: fixed;
  right: -100%;
  height: calc(100vh - 60px);
  border-left: 1px solid #ddd;
  padding: 30px 50px;
  transition: 0.5s ease-out;
  top: 53px;
  background: #fff;
  z-index: 888;
}
@media screen and (max-width: 900px) {
  .resNav {
    top: 50px;
  }
}
.resNav.toggle {
  right: 0;
}
.resNav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.resNav ul li a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0.25px;
  transition: 0.25s ease-in-out;
}
.resNav ul li a:hover {
  color: #DDAA44;
}

.active {
  color: #ddaa44;
}

#banner {
  margin-top: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 53px);
  gap: 30px;
  overflow: hidden;
}
@media screen and (max-width: 900px) {
  #banner {
    height: calc(100vh - 47px);
    margin-top: 47px;
  }
}
@media screen and (max-width: 650px) {
  #banner {
    height: auto;
    flex-direction: column-reverse;
    gap: 0;
  }
}
#banner .image {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
@media screen and (max-width: 650px) {
  #banner .image {
    width: 100%;
  }
}
#banner .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#banner .content {
  flex: 1;
  padding: 20px 20px 20px 50px;
}
@media screen and (max-width: 650px) {
  #banner .content {
    padding: 20px;
  }
}
#banner .content h1 {
  font-size: 42px;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.4;
}
#banner .content h1 span {
  color: #ddaa44;
  font-weight: 600;
}
@media screen and (max-width: 1024px) {
  #banner .content h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 768px) {
  #banner .content h1 {
    font-size: 34px;
  }
}
@media screen and (max-width: 425px) {
  #banner .content h1 {
    font-size: 26px;
    margin-bottom: 15px;
  }
}
#banner .content h4 {
  font-size: 20px;
  font-weight: 400;
  color: #0e2b3d;
  margin-bottom: 15px;
}
#banner .content .cta {
  background: #ddaa44;
  color: #fff;
  display: inline-flex;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}
@media screen and (max-width: 425px) {
  #banner .content .cta {
    font-size: 18px;
  }
}

#updates {
  padding: 100px 0 0 0;
}
#updates .updatesContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#updates .posts {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 30px;
}
#updates .posts .post {
  width: 30%;
  flex-grow: 1;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
#updates .posts .post:hover {
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}
@media screen and (max-width: 768px) {
  #updates .posts .post {
    width: 40%;
  }
}
@media screen and (max-width: 568px) {
  #updates .posts .post {
    width: 100%;
  }
}
#updates .posts .post .postImage {
  width: 100%;
  height: 300px;
}
#updates .posts .post .postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#updates .posts .post .postContent {
  padding: 15px 20px;
  text-align: left;
  background: #f8f9f9;
}
#updates .posts .post .postContent h6 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
}
#updates .posts .post .postContent p {
  font-size: 16px;
}

#gallery {
  padding: 100px 0 0 0;
}
#gallery .galleryContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#gallery #lightgallery {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 30px;
}
@media screen and (max-width: 425px) {
  #gallery #lightgallery {
    padding: 15px;
  }
}
#gallery #lightgallery .image-box {
  width: 300px;
  height: 300px;
  flex-grow: 1;
}
#gallery #lightgallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  padding: 100px 0 50px 0;
}
#contact .contactContainer {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
#contact .contactContainer .contactDetails {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
}
#contact .contactContainer .contactDetails .contactCard {
  width: 30%;
  min-width: 300px;
  margin: 15px;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 30px;
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  #contact .contactContainer .contactDetails .contactCard {
    width: 40%;
    flex-grow: 1;
  }
}
@media screen and (max-width: 768px) {
  #contact .contactContainer .contactDetails .contactCard {
    width: 100%;
    text-align: left;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 425px) {
  #contact .contactContainer .contactDetails .contactCard {
    max-width: 320px;
    margin: 15px 0;
    flex-grow: none;
  }
}
#contact .contactContainer .contactDetails .contactCard.flex {
  display: flex;
  align-items: center;
}
#contact .contactContainer .contactDetails .contactCard:hover {
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}
#contact .contactContainer .contactDetails .contactCard:hover .icon i {
  background: #ddaa44;
  color: #fff;
}
#contact .contactContainer .contactDetails .contactCard:hover .icon {
  margin-bottom: 0;
}
#contact .contactContainer .contactDetails .contactCard:hover .icon i {
  background: #ddaa44;
  color: #fff;
}
#contact .contactContainer .contactDetails .contactCard:hover .icon h4 {
  margin-bottom: 4px;
}
#contact .contactContainer .contactDetails .contactCard .icon {
  font-size: 40px;
}
#contact .contactContainer .contactDetails .contactCard .icon i {
  border: 2px solid #ddaa44;
  border-radius: 50%;
  padding: 15px;
  color: #ddaa44;
  transition: 0.5s ease-in-out;
}
#contact .contactContainer .contactDetails .contactCard .contactInfo {
  margin-left: 25px;
}
#contact .contactContainer .contactDetails .contactCard .contactInfo h4 {
  font-size: 20px;
  color: #1d1d1d;
  font-weight: 600;
}
#contact .contactContainer .contactDetails .contactCard .contactInfo p {
  font-size: 16px;
  color: #6d6d6d;
  font-weight: 400;
  line-height: 25px;
  word-wrap: break-word;
}

.googleMap {
  max-width: 1140px;
  margin: 0 auto;
}
.googleMap iframe {
  width: 100%;
  height: 500px;
}

footer {
  background: #ddaa44;
  color: #fff;
}
footer .footerContainer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 20px;
}

#about {
  padding: 100px 0 0 0;
  height: auto;
}
#about .aboutContainer {
  text-align: center;
}
#about .aboutInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px 0;
  gap: 30px;
  background: #f8f9f9;
}
@media screen and (max-width: 960px) {
  #about .aboutInfo {
    flex-direction: column;
  }
}
#about .aboutInfo .content {
  flex: 1;
  padding: 20px 50px 20px 20px;
}
@media screen and (max-width: 650px) {
  #about .aboutInfo .content {
    padding: 20px;
  }
}
#about .aboutInfo .content h4 {
  font-size: 16px;
  font-weight: 400;
  color: #0e2b3d;
  margin-bottom: 15px;
}
#about .aboutInfo .image {
  flex: 1.2;
  height: 600px;
}
#about .aboutInfo .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
